* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(315deg, #7f5a83 0%, #094d7e 74%);
}

/* Wrapper with max width for larger screens */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content horizontally */
    justify-content: center; /* Centers the content vertically */
    width: 90%; /* Adjusted to a percentage for flexibility */
    max-width: 1000px;
    height: auto; /* Removed fixed height */
    padding: 20px;
}

/* Info section */
.info {
    text-align: center;
    font-size: 2vw; /* Make font size responsive */
}

.info h1 {
    margin-bottom: 10px;
    font-size: 4vw; /* Make font size responsive */
}

.bill-img {
    display: flex;
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically */
    height: auto; /* Flexible height */
    margin: 0; /* Optional: Adds some space around the image */
}

.bill-img img {
    width: 50%; /* Scaled down for smaller screens */
    max-width: 300px;
    cursor: pointer;
    position: relative; /* Adjusted positioning */
    margin: 0 auto;
}

/* Question Area */
.question-area h2 {
    margin-bottom: 10px;
    font-size: 3vw; /* Responsive text */
    text-transform: uppercase;
}

.question-area input {
    padding: 10px 20px;
    width: 80%; /* Full width on smaller screens */
    font-size: 2vw;
    border: 2px solid #333;
    border-radius: 8px;
}

.question-area .answer, .question-area .error {
    font-size: 2vw;
    margin-top: 30px;
    font-weight: bold;
}

/* Keyframes for the shake animation */
.shake-animation {
    animation: shake 1s 1;
}

@keyframes shake {
    0% {left: 0;}
    20% {left: 10px;}
    40% {left: -10px;}
    60% {left: 10px;}
    80% {left: -10px;}
    100% {left: 0;}
}

/* Media Queries */

/* Mobile phones (up to 600px) */
@media (max-width: 600px) {
    .wrapper {
        width: 80%;
    }

    .info h1 {
        font-size: 2vw;
    }

    .bill-img img {
        width: 50%; /* Smaller image */
    }

    .question-area input {
        font-size: 2vw
    }

    .question-area .answer, .question-area .error {
        font-size: 2vw;
    }
}

/* Tablets (up to 900px) */
@media (max-width: 900px) {
    .info h1 {
        font-size: 48px;
    }

    .bill-img img {
        width: 60%;
    }

    .question-area input {
        font-size: 18px;
    }

    .question-area .answer, .question-area .error {
        font-size: 18px;
    }
}
